    @import "../_variables"
marg=100px

.wrapper
    position absolute
    
.itemwrapper
    display flex
    position fixed
    transition all 0.5s mdtiming
    overflow hidden
    
.background
    transition all 0.5s mdtiming
    box-shadow 0 4px 8px rgba(black, 0.2)
    position fixed
    
:global(.activated), :global(.activating)
    cursor move