
// App specific stuff
sidebarwidth=55px

// Setting up colours
clightblue=#03A9F4
cblue=#2196F3
cdarkblue=#01579b
cred=#F44336
cdarkred=#b71c1c
cgreen=#4CAF50
cdarkgreen=#1B5E20
clightgreen=#8BC34A
cyellow=#FFEB3B
camber=#FFC107
corange=#FF9800
cbrown=#795548
cbluegrey=#607D8B
clightgrey=#E0E0E0
cgrey=#9E9E9E
cdarkgrey=cgrey
cverydarkgrey=#6C6C6C
cmaterialdark=#455A64
cmaterialteal=#26A69A
cmaterialyellow=#FFD740
cmaterialgrey=#E0E0E0

// Timing Functions
mdtiming=cubic-bezier(0.165, 0.840, 0.440, 1.000)

headerheight=55px
hundred=100%
